/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: norse-bold;
    src: url(../fonts/norse-bold/norse-bold-webfont.woff);
}

:root {
    --logo-font-clr: whitesmoke;
    --logo-font-family: norse-bold;

    --para-font-family: Roboto;
    --btn-clr: oklch(77.32% 0.05927 139.663);
    --btn-clr-2: oklch(63.939% 0.08500 319.746);
}

.container {
    display: flex;
}

/* Left Side styling */
.left-img-container {
    /* padding: 10px; */
    width: 80vw;
    height: 100vh;
    position: relative;
}

/* this ensures that the takes up the whole .left-img-container 
    and resizes accordingly to it */
.left-img-container .side-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Styling Logo */
.left-img-container .logo-container {
    height: 14%;
    width: 100%;
    position: absolute;
    top: 28px;
    /* left: -58px; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    background: oklch(59.987% 0.00007 271.152 / 0);
}

.logo-container img {
    width: 11%;
}

.logo-container .logo-text {
    font-size: 4.8rem;
    font-family: var(--logo-font-family);
    letter-spacing: 1.2rem;
}

.left-img-container .img-credit {
    position: absolute;
    bottom: 10px;
    /* font-size: 25px; */
    left: calc(100% - 410px);
    font-size: .8rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    /* Optional for readability */
    padding: 4px 8px;
    border-radius: 4px;
}